
*, *::before, *::after {
  box-sizing: border-box;
  margin:0 auto;
  padding: 0;

}
.row {
  display: flex;
 padding:100px;
 /* background-color: rgb(3, 82, 151); */
 background-color: rgb(168, 223, 255);
 color: #fff;

}
.title-holder {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;

}
.title {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  font-size: 1.4rem;
  color:white;
  margin: 0;
}
.form-group{
  display: block;

}
p{
  color:rgb(193, 117, 255);
}

label {
  text-transform: uppercase;
  display: flex;
  letter-spacing: 0.4pt;

}
.sub {
  display: flex;
  justify-content: center;

}
button{
  display: flex;
  padding: 5px;
  margin: 15px 0;
  border: none;
  /* border:solid 1px #ccc; */
  /* border-radius: 10px; */
  background-color:rgb(28, 1, 126) ;
}
/* label {
  display: flex;
  width:100%;
} */
input{
  /* height: 25px;
  margin: 0 auto;
  border: none;
  border:solid 1px #ccc;
  border-radius: 10px; */
}
