<div class="title-holder">
  <p class="title">REGISTRATION</p>
</div>

<div class="row d-flex justify-content-center">

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <div class="form-group col-md-12">

      <div class="form-group">
        <label>
          First Name:
        </label>
        <mat-form-field>
          <input matInput placeholder="First Name" type="text" formControlName="firstName" autocomplete="" required>
          <mat-error *ngIf="firstName.invalid && firstName.touched">{{getErrorMessageFirst()}}</mat-error>
        </mat-form-field>

      </div>
      <div class="form-group">

        <label>
          Last Name:
        </label>
        <mat-form-field>
          <input matInput placeholder="Last Name" type="text" formControlName="lastName" required>
          <mat-error *ngIf="lastName.invalid && lastName.touched">{{getErrorMessageLast()}}</mat-error>
        </mat-form-field>

      </div>
      <div class="form-group">
        <label>
          Age:
        </label>
        <mat-form-field>
          <!-- value="{{ age.value }}" -->
          <input matInput placeholder="Age" id="sub" type="number" formControlName="age" required />
          <!-- <p class="invisible">Can't be empty</p> -->
          <mat-error *ngIf="age.invalid && age.touched">{{getErrorMessageAge()}}</mat-error>

        </mat-form-field>
      </div>

      <div class="sub">
        <!-- (click)="updateName()" -->
        <button mat-button class="btn btn-lg btn-block d-flex justify-content-center"
          type="submit">Submit</button>
      </div>
    </div>
  </form>

  <div class="info">  </div>

</div>
