/* You can add global styles to this file, and also import other style files */

*, *::before, *::after {
  box-sizing: border-box;
  margin:0 auto;
  padding: 0;

}
body {
padding: 10% 40% 0 ;
 background-color: rgb(0, 43, 80);
 color: #fff;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
